body {
  background-image: url(https://preview.redd.it/metal-gear-solid-wallpaper-collage-thing-i-made-v0-hmje513kroy81.png?auto=webp&s=5c697e4a5d33b5be7fed22183b87081ea6c32fe8);
  background-size:cover;
  background-repeat: no-repeat;
  color: #00d904;
  margin: 0;
  padding: 0;

  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -6;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

.container {
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #151616;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  max-width: 300px;
  width: 100%;
  align-self:center;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

button {
  max-width: 200px;
  width: 50%;
  align-self:center;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Media query for tablets */
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .container {
    max-width: 600px;
  }

  h1 {
    font-size: 30px; /* Adjust font size for larger screens */
  }

  button {
    width: 40%; /* Adjust button width for larger screens */
    max-width: 300px;
  }
}